:root {
    --main-bg: #1a1a1a;
    --main-clr: #c73053;
    --main-clr-hover: #af1e40cb;
    --font-clr: #ffff;  
    --2nd-bd: #777777;
}

header {
    background: var(--main-bg);
    box-shadow: 0px 2px 35px 3px var(--main-clr-hover);
    border-radius: 0px 0px 10px 10px;
}
.logo-text {
    color: var(--main-clr);
    font-size: clamp(22px,3vw,28px);
    text-decoration: none;
}

header ul li a{
    text-decoration: none;
    display: block;
    color: var(--main-clr);
    padding: 7px;
    font-size: 22px;
    margin-right: 20px;
    transition: transform 0.5s;

}

header ul li a:hover{
    background-color: var(--main-clr-hover);
    border-radius: 5px;
    color: white;
    transform: scale(1.1); 
}

.acc:hover {
    background-color: var(--main-clr-hover);
}

.cont-height {
    min-height: 85vh;
    border-radius: 25px;
    background-color: var(--main-bg);
}

.inputplace {
    padding: 15px;
    border-radius: 25px;
    background: var();
}
.contur{
    background: var(--main-bg);
    margin: 22px;
}
.form-group {
    padding: 5px;
}
.w-80 {
    width: 80%;
}
.w-90 {
    width: 100%;
}
.h-20 {
    height: 20%;
}
.h-90 {
    height: 90%;
    border-radius: 15px;
}
.h-95 {
    height: 95%;
}
.form-group {
    margin: 10px;
}
.btn-save {
    margin-bottom: 15px;
    margin-left: 2%;
    background-color: var(--main-clr);
    color: var(--font-clr);
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 15px;
    width: 96%;
    letter-spacing: 0.25em;
    transition: 0.5s;
}
.subincome{
    margin-top: 10px;
}
.subincome-text {
   text-align: center;
    margin-top: 12px;
    color: var(--font-clr);
    font-size: 12px;
    font-weight: 600;
}
.subincome-btn {
    background-color: var(--main-clr);
    width: 100%;
    border-radius: 15px;
    padding: 8px;
    transition: 0.5s;
    font-size: 14px;
    font-weight: 600;
    color: var(--font-clr);
    margin: 10px 3px;
}   

.btn-save:hover, .subincome-btn:hover{
    background-color: var(--main-clr-hover);
}