<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="header">
    <div class="logo">      
            <a href="#default">
                <img src="src/pig.svg" alt="pig" class="icon">rentCalculator
            </a>
    </div>
    <div class="menu">
        <ul>
            <li><a class="active button" href="#home">Главная</a></li>
            <li><a class="button" href="#contact">Contact</a></li>
            <li><a class="button" href="#about">About</a></li>
        </ul>
    </div>
    <div class="account">
        <ul>
            <li>
                <a href="#lk"><img src="src/account_circle.svg" alt="acc" class="icon"></a>
            </li>
            <li>
                <a href="#signin"><img src="src/login.svg" alt="login" class="icon"></a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>